<h1> all listings </h1>



<section>
    <% @listings.each do |listing| %>
        <%= link_to(listing_path(listing)) do %>
        
            <%= image_tag listing.unicorn.pic, :class => "pics" if listing.unicorn.pic.attached? %>
            <h2><%= listing.unicorn.name.capitalize %></h2>
            <h3><%= listing.buyout_price %></h3> 
        
        <% end %>
    <% end %>
</section>


<button>
<p>a button which links back to listings controller which runs the purchase method verifying users balance is greater than listings buyout price </p>
</button >

<%= link_to '<button type="button">BUY</button>'.html_safe, unicorns_path %>