<!DOCTYPE html>
<html>
  <head>
    <title>Unicornucopia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>


  <header>
    <% if user_signed_in? %>
    <h1 class="logo"></h1>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
      <ul>
        <li><a href="<%= unicorns_path %>">Home</a></li>
        <li><a href="<%= listings_path %>">Listings</a></li>
        <li><a href="<%= collection_path %>">Collection</a></li>
        <li><a href="<%= new_payment_path %>">UniCoins</a></li>
        <li></li>
        <li></li>
        <li></li>
        <li><%= "Current User: #{current_user.email}" %>
        <li><%= "Unicoins: #{current_user.balances.sum(:amount)}"%>
      </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
    <% end %>
</header>



    <%= yield %>
    <%= render "layouts/alerts" %>
  </body>
</html>
